<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <!--<base href="/" />-->
    <meta charset="utf-8" />
    <script src="Libraries/angular.js"></script>
    <script src="Libraries/angular_route.js"></script> 
        <link href="Libraries/bootstrap.css" rel="stylesheet" />

    <title>Routing</title>
    <script>
        var app = angular.module('myApp', ['ngRoute'])
        .config(function ($routeProvider, $locationProvider) {

              $routeProvider
                  .when('/', {
                      templateUrl: 'views/index.html',
                  })
                  .when('/sampleView', {
                      templateUrl: 'views/view1.html',
                  })
                  .when('/about', {
                      templateUrl: 'views/about.html'
                  })
                  .otherwise({
                      redirectTo: '/'
                  })

              $locationProvider.html5Mode(false);
        })
         //.controller('mainCtrl', function ($scope, $location) {
         //    $scope.goHome = function () {
         //        $location.path('/');
         //    }
         //    $scope.goToSampleView = function () {
         //        $location.path('/sampleView')
         //    }
         //    $scope.goToDetails = function () {
         //        $location.path('/about')
         //    }

         //})
       
    </script>
   
</head>
<body>
    
    <div class="panel panel-primary"> 
        <h1>Example 8</h1>
        <div class="panel panel-primary well">
            <ul class="nav nav-tabs">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/sampleView">SampleView</a></li>
                <li><a href="#/about">About</a></li>
            </ul>
        </div>

        <!--<div class="panel panel-primary well">
            <input class="btn-lg btn-info" ng-click="goHome()" type="button" value="Home">
            <input class="btn-lg btn-info" ng-click="goToSampleView()" type="button" value="sampleView">
            <input class="btn-lg btn-info" ng-click="goToDetails()" type="button" value="About">
        </div>-->

        <div class="panel" ng-view></div>
    </div>
</body>
</html>