<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <script src="Libraries/angular.js"></script> 
    <script src="Libraries/angular_route.js"></script>


    <link href="Libraries/bootstrap.css" rel="stylesheet" />

    <title>Routing</title>
    <script>
        var app = angular.module('myApp', ['ngRoute'])
      .config(function ($routeProvider) {

          $routeProvider
              .when('/', {
                  template: '<h1>Home Page!</h1>',
              })
              .when('/sampleView', {
                  template: '<h1>this is sample view 1!</h1>'
                  
              })
              .when('/about', {
                  templateUrl: 'views/about.html'
              })
              .otherwise({
                  redirectTo: '/'
              })


      })
        .controller('mainCtrl', function ($scope, $location) {
            $scope.goHome = function () {
                $location.path('/');
            }
            $scope.goToSampleView = function () {
                $location.path('/sampleView')
            }
            $scope.goToDetails = function () {
                $location.path('/about')
            }

        })


    </script>
</head>
<body>

    <div class="panel panel-primary" ng-controller="mainCtrl"> 
        <h1>Example 9</h1>
        <div class="panel panel-primary well">
            <input class="btn-lg btn-info" ng-click="goHome()" type="button" value="Home">
            <input class="btn-lg btn-info" ng-click="goToSampleView()" type="button" value="sampleView">
            <input class="btn-lg btn-info" ng-click="goToDetails()" type="button" value="About">
        </div>
        <div class="panel" ng-view></div>
    </div>
</body>
</html>