################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/React/lesson_19/node_modules
/React/lesson_20/node_modules
/React/lesson_21/node_modules
/React/lesson_22/node_modules
/React/lesson_24/node_modules
/React/lesson_25/node_modules
/React/lesson_26/node_modules
/React/lesson_23/node_modules
