################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/React/lesson_19/node_modules
/React/lesson_20/node_modules
/React/lesson_21/node_modules
/React/lesson_22/node_modules
/React/lesson_24/node_modules
/React/lesson_25/node_modules
/React/lesson_26/node_modules
/React/lesson_23/node_modules
/NodeJS/lesson_30/013_lesson39_express_app_layout/node_modules
/NodeJS/lesson_30/node_modules
/NodeJS/lesson_31/node_modules
/NodeJS/lesson_32/node_modules
/NodeJS/lesson_33/node_modules
/NodeJS/lesson_34/node_modules
