<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <script src="Libraries/angular.js"></script>
    <link href="Libraries/bootstrap.css" rel="stylesheet" />
    <title>Services</title>
    <script>
        var app = angular.module('myApp', [])
            .controller('mainCtrl', ['$scope', 'clickCounterService', function ($scope, clickCounterService) {

                $scope.msg = 'clicks: ';
                $scope.output = 'clicks: 0';

                $scope.countClicks = function () {
                    $scope.output = clickCounterService($scope.msg);
                };

            }])
            .factory('clickCounterService', function () {

                // factory - метод для создания сервисов. В качестве параметров принимает имя сервиса и фабричную функцию для его создания.
                // Экземпляр, создаваемый фабричной функцией, будет одним на все приложение (singleton).

                var clickCounter = 1;
                return function (msg) {
                    var output = msg + clickCounter++;
                    return output;
                };
            })

    </script>
</head>
<body>
    <div class="panel panel-primary" ng-controller="mainCtrl">
        <input type="button" class="btn-lg btn-success" value="button 1" ng-click="countClicks()">
        <input type="button" class="btn-lg btn-success" value="button 2" ng-click="countClicks()">
        <h3>{{output}}</h3>
    </div>
</body>
</html>