<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <script src="Libraries/angular.js"></script>
    <link href="Libraries/bootstrap.css" rel="stylesheet" />

    <title>Services</title>
    <script> 
              
        var app = angular.module('myApp', [])

            // provider - метод для создания сервисов. В качестве аргумента принимает имя сервиса и фабричную функцию.
            // Фабричная функция должна вернуть Provider Object, который содержит метод $get.
            // Метод $get должен возвращать сервис.
            
        
            .provider('clickCounter', function () {

            var limitCount = false;
            var limit = null;

            return {
                enableCounterLimit: function (setting, value) {
                    if (angular.isDefined(setting)) {
                        limitCount = setting;

                        if (angular.isDefined(value)) {
                            if (limitCount == true) {
                                limit = value;
                                return limit;
                            }
                        }
                    }
                },

                $get: function () {
                    var clickCounter = 1;

                    return function (msg) {
                        if (limit && clickCounter < limit || limit == null) {
                            output = msg + clickCounter++;
                        }
                        else {
                            output = 'count limit exceeded!';
                        }
                        return output;
                    };
                }
            }

        })

        // .config дополнительная настройка сервисов созданных с помощью функции module.provider
        // Для того чтобы получить провайдер необходимого сервиса нужно указать в качестве параметра функции аргумент
        // с именем [имя сервиса]Provider 

        .config(function (clickCounterProvider) {
            clickCounterProvider.enableCounterLimit(true, 10);

        })
 
       .controller('mainCtrl', function ($scope, clickCounter) {
           $scope.msg = 'clicks: ';
           $scope.output = 'clicks: 0';

           $scope.countClicks = function () {
               $scope.output = clickCounter($scope.msg);
           };


        })
    </script>
</head>
<body>
    <div class="panel panel-primary" ng-controller="mainCtrl"> 
        <input type="button" class="btn-lg btn-success" value="button 1" ng-click="countClicks()">
        <input type="button" class="btn-lg btn-success" value="button 2" ng-click="countClicks()">
        <h3>{{output}}</h3>
    </div>
</body>
</html>