<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" /> 
    <script src="Libraries/angular.js"></script> 
	<link rel="stylesheet" href="Libraries/bootstrap.css">
    <title>Hello World 2!</title> 
	<!-- 
		Данныый пример показывает базовые возможности работы с данными в контексте 
		архитектуры MVC в AngularJS. 
	--> 
    <script>
         angular.module('myApp', [])
        .controller('MainCtrl', ['$scope', function (a) {

            name = 'Enter name'; 
			// свойства scope - значения и функции, связанные с областью видимости контроллера. 
            a.name = name;  
            a.showName = function () {

                var output = document.getElementById('output');
                output.innerHTML = 'Hello, ' + a.name;

               }
           }]
        )

    </script>
</head>
<body ng-controller="MainCtrl">
    <!--Пример двусторонней привязки данных (директива ng-model) -->
    <input class="input-lg" type="text" ng-model="name"> 
	<!--Пример обработчика события (директива ng-click) -->
    <input type="button" class="btn-lg btn-info" value="click here!" ng-click="showName()"> 
    <div id="output"></div>
</body>
</html>