<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <script src="Libraries/angular.js"></script>
    <link href="Libraries/bootstrap.css" rel="stylesheet" />
    <title></title>
    <script>
        var app = angular.module('myApp', []);

        app.controller('mainCtrl', function ($scope) {
            $scope.cues = [{
                text: 'text for first item',
                isNewest: false
            }, {
                text: 'text for second item',
                isNewest: true
            }];
            $scope.switchNewest = function () {
                $scope.cues[1].isNewest = !$scope.cues[1].isNewest
                $scope.cues[0].isNewest = !$scope.cues[0].isNewest
            }
        })

        app.directive('focus', function () {
            return function (scope, element, attrs) {
                attrs.$observe('focus', function (newValue) {
                    newValue === 'true' && element[0].focus();
                });
            }
        });

    </script>
</head>
<body>
    <div ng-controller="mainCtrl">
        <ul>
            <li ng-repeat="cue in cues" class="form-inline">
                <input type="text" ng-model="cues[$index].text" focus="{{cue.isNewest}}" class="input-xlarge" />{{cue.isNewest}}
            </li>
        </ul>
        <a ng-click="switchNewest()">switch value</a>
    </div>
</body>
</html>