<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <script src="Libraries/angular.js"></script>
    <link href="Libraries/bootstrap.css" rel="stylesheet" />

    <style>
        .color {
            background-color: lightgreen;
        }

        .border {
            border: 1px solid black;
            border-radius: 20px;
        }

        .size {
            width: 200px;
            height: 200px;
            padding: 10px;
            margin: 10px;
        }
    </style>
    <script>        
        var app = angular.module('myApp', [])
        .controller('mainCtrl', function ($scope) {

            $scope.styleObj = {
                color: true,
                border: false,
                size: false
            }
        })
    </script>
</head>
<body>
    <div class="container" ng-controller="mainCtrl">
        <input type="checkbox" ng-model="styleObj.color" />Color <br />
        <input type="checkbox" ng-model="styleObj.border" ng-init="styleObj.border = true" />Border <br />
        <input type="checkbox" ng-model="styleObj.size" />Size <br />
        <!--ng-class - если в качестве значения директива получает объект, каждый ключ объекта, содержащий значение true будет использоваться как имя класса.-->
        <div ng-class="styleObj">Test</div>
    </div>
</body>
</html>