<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <script src="Libraries/angular.js"></script>
    <link href="Libraries/bootstrap.css" rel="stylesheet" />

    <title>Filters</title>
	
	        <!-- 
			     orderBy - фильтр для сортировки элементов массива. Имя свойства для сортировки задается в одинарных кавычках.
                 с помощью символов + или - можно указать направление сортировки.
                 например, item in items | orderBy : '-count'. Возможна также сортировка с помоью функции. 
	    	 -->
    <script>
	
        var app = angular.module('myApp', [])
        .controller('mainCtrl', function ($scope) {

            $scope.items = [{ name: 'item0', id: "0", value: [{ val1: '1' }, { val2: '2' }] },
                            { name: 'item1', id: "1", value: [{ val1: '3' }, { val2: '4' }] },
                            { name: 'item2', id: "2", value: [{ val1: '5' }, { val2: '6' }] },
                            { name: 'item3', id: "3", value: [{ val1: '7' }, { val2: '8' }] },
                            { name: 'item4', id: "4", value: [{ val1: '9' }, { val2: '10' }] },
                            { name: 'item5', id: "5", value: [{ val1: '11' }, { val2: '12' }] },
                            { name: 'item6', id: "6", value: [{ val1: '13' }, { val2: '14' }] },
                            { name: 'item7', id: "7", value: [{ val1: '15' }, { val2: '16' }] },
                            { name: 'item8', id: "8", value: [{ val1: '17' }, { val2: '18' }] },
                            { name: 'item9', id: "9", value: [{ val1: '19' }, { val2: '20' }] }]

            $scope.sortFunc = function (item) {
                return item.id; 
            }
        })
    </script>
</head>
<body>
    <div class="panel panel-primary" ng-controller="mainCtrl">
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Value 1</th>
                    <th>Value 2</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items | orderBy : sortFunc" >
                    <td>{{item.name}}</td>
                    <td ng-repeat="another_item in item.value | orderBy : 'val1'">{{another_item.val1 + another_item.val2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>