<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <script src="Libraries/angular.js"></script>
    <link href="Libraries/bootstrap.css" rel="stylesheet" />
    <title>Inheritance</title>
    <style>
        div {
            margin-top: 25px;
        }

        span {
            font-size: 30px;
            font-weight: bold;
        }
    </style>
    <script>
        // Наследование контроллеров создает сильную связанность, но только в
        // одном направлении (т.е. дочерний контроллер зависит от родительского)

             angular.module('myApp', [])
            .controller('mainCtrl', function ($scope) {
                $scope.output = 1;
                $scope.changeValue = function () {
                    $scope.output++;
                }
            })
            .controller('derivedCtrl', function ($scope) {
                $scope.output = 1;
                $scope.changeValue = function () {
                    $scope.output++;
                    $scope.$parent.output--; // свойство $parent указывает на родительский элемент. В данном случае - на контроллер mainCtrl;
                }
            })

    </script>
</head>
<body>
    <div ng-controller="mainCtrl">
        <input type="button" class="btn-lg btn-danger" value="change value!" ng-click="changeValue()">
        <span>{{output}}</span>
        <!-- derivedCtrl - производный контроллер, так как в DOM дереве является дочерним элементом для div использующего ng-controller="mainCtrl"-->
        <div ng-controller="derivedCtrl">
            <input type="button" class="btn-lg btn-success" value="change value!" ng-click="changeValue()">
            <span>{{output}}</span>
        </div>
    </div>
</body>
</html>