<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <script src="Libraries/angular.js"></script>
    <link href="Libraries/bootstrap.css" rel="stylesheet" />
    <title>Директива ng-repeat</title>
    <style>
        .even {
            background-color: gainsboro;
        }

        .odd {
            background-color: lightskyblue;
        }

        .cls {
            color: blue;
        }
    </style>
    <script>
        var app = angular.module('myApp', [])
        .controller('mainCtrl', function ($scope) {

            $scope.items = [{ name: 'item1', created: 2011 }, { name: 'item2', created: 2015 },
                            { name: 'item3', created: 2013 }, { name: 'item4', created: 2003 },
                            { name: 'item5', created: 2016 }, { name: 'item6', created: 2010 },
                            { name: 'item6', created: 2014 }, { name: 'item7', created: 2005 },
                            { name: 'item8', created: 2012 }, { name: 'item9', created: 2001 }];
        })

    </script>
</head>
<body>
    <div class="panel panel-primary" ng-controller="mainCtrl">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items" ng-class="$even ? 'even' : 'odd'">
                    <!-- Переменная $first содержит значение true если элемент первый в коллекции.
                    Переменная $last содержит значение true если элемент последний в коллекции-->
                    <td>
                        {{item.name}}
                        <span ng-if="$first" class="cls">First</span>
                        <span ng-if="$last" class="cls">Last</span>
                    </td>
                    <td>{{item.created}} </td>
                </tr>
            <tbody>
        </table>

    </div>
</body>
</html>