
<!DOCTYPE html> 
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /> 
<script>

  window.onload = function() {

  var btn = document.getElementById('btn');
  var errorContainer = document.getElementById('errorMsg'); 
  btn.onclick = sendData;

  function sendData(e) {
  var xhr = new XMLHttpRequest();

  xhr.open('POST','add/newItem');


  var inputs = document.getElementsByTagName('input');

              // валидация ввода пользователя 
              for (var i = 0; i < inputs.length - 1; i++) { 
              
                  if (inputs[i].value == '') { 
                 
                    // обработка ошибок 
                    errorContainer.innerHTML = 'Error! Empty Field!'
                    console.log('Empty Field!'); 
					e.preventDefault(); 
                    return;  
                  
                    }
              } 
              
              errorContainer.innerHTML = ''; 
              
              var item = {
                name: inputs[0].value, 
                description: inputs[1].value, 
                get completed () {
                    return inputs[2].checked ? 1 : 0
                }
              }; 
              
              var data = JSON.stringify(item); 
              
              xhr.setRequestHeader('Content-Type', 'application/json'); 
              
              xhr.send(data); 
              
          
      } 
      
                
   }
</script>
</head> 
<body>
<div class="panel well">
    <h3>Add item!</h3>
    <div class="form-group">
        <label>Name: <input type="text" class="form-control" /></label> 
    </div>
    <div class="form-group">
        <label>Description: <input type="text" class="form-control" /></label>
    </div>
    <div class="form-group">
        <label>Completed: <input type="checkbox" /></label>
    </div>
    <div class="form-group">
        <a class="btn btn-lg btn-info" href="/edit" id="btn">Apply</a> 
        <h5 style="color: red; font-weight: bold" id="errorMsg"><h5>
    </div>
</div> 
</body> 
</html>